# Python cache
__pycache__/
*.pyc
*.pyo

# Model files
*.pkl
*.h5
*.pt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Virtual environments
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log